<ion-view view-title="Home" align-title="left">
  <ion-content class="login-background no-header">
      <div class="groupes" style="margin:20px;">
      	<h1>Mes groupes</h1>
      	<button style="opacity: 1; box-shadow: 0px 0px 10px transparent; transform: translate3d(0%, 0px, 0px); background-color:#36648B; top:0px;" nav-view="active" id="fab-profile" class="button button-fab button-fab-top-right button-energized-900 pane"><i class="icon ion-plus"></i></button>
      </div>
      <div class="amis" style="margin:20px;">
      	<h2>Mes amis</h2>
      	<ul>
      		<li>{{user.name}}</li>
      	</ul>
      </div>
  </ion-content>
</ion-view>